node_modules
venv

**/*.md
**/*.json
**/*.env
**/*.gitignore
**/*.html


.gitattributes
.gitignore

backend/node_modules
backend/politicalBiasData
backend/prisma
backend/scripts


frontend/.vite
frontend/node_modules




