/* Marquee.css */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  background: linear-gradient(to right, #2E008E, #FCC188); /*Change to desired background color */
  color: #000; /* Change to desired text color */
  display: flex;
  align-items: center;
}

.marquee-content {
  font-family: CompactaStd;
  font-size: 120px;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 250s linear infinite; /* Ensure infinite looping */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
